# .gitignore

# python stuff to be ignored
__pycache__/
*.py[cod]
*$py.class

# jupyter notebooks stuff to be ignored
.ipynb_checkpoints/

# vscode stuff
.vscode/

# MacOS stuff to be ignored
.DS_Store

# unnecessary detail to be ignored
*.readabs_cache/
tests/test.output

# tool caches
.ruff_cache/
.mypy_cache/

# claude
.claude
CLAUDE.md

#tests to ignore
.extend_history/manual_test_suite.py
.extend_history/test_extend_history.py

# ignore packaging stuff
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

